upstream php-handler {
    server php-fpm:9000;
    # server unix:php-fpm;
}

server {
        listen 80 default_server;
        listen [::]:80 default_server;
        root opt/moodle;
        index index.html index.htm index.nginx-debian.html;
        server_name _;
        location / {
                try_files $uri $uri/ =404;
        }
}

server {
        listen 443 ssl default_server;
        listen [::]:443 ssl default_server;
        ssl_certificate /etc/ssl/certs/{{ organization.name }}.pem;
        ssl_certificate_key /etc/ssl/private/{{ organization.name }}.pem;
        root opt/moodle;
        index index.html index.htm index.nginx-debian.html;
        server_name _;
        location / {
                try_files $uri $uri/ =404;
        }
}